<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>MIP | Megalith Internship Programme 2023 | The Annual Fest of Civil Engineering | IIT Kharagpur </title>
  <meta name="title" content="Megalith Internship Program | Megalith 2023 IIT Kharagpur">
  <meta name="description" content="The Annual Tech-fest of Civil Engineering Department">
  <meta content="" name="keywords">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="https://2022.megalith.co.in/homeimages/logoi.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="dashboard.css">
    <link rel="stylesheet" href="contactus.css">
    <link rel="stylesheet" href="buttons.css">
    <title>Document</title>
</head>

<body class="hold-transition skin-blue sidebar-mini" >
  
    <div class="wrapper">
      <header class="main-header">
        <a href="index2.html" class="logo">
          <span class="logo-mini"><b>LAB</b></span>
          <span class="logo-lg"><b></b>My Profile</span>
        </a>
        <nav class="navbar navbar-static-top" role="navigation">
          <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
            <span class="sr-only">Toggle navigation</span>
          </a>
          <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
              
              <li class="dropdown user user-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <img src="https://vignette3.wikia.nocookie.net/nation/images/6/61/Emblem_person_blue.png/revision/latest?cb=20120218131529" class="user-image" alt="User Image">
                  <span class="hidden-xs"><%=data.username %></span>
                </a>
              </li>
            </ul>
          </div>
        </nav>
      </header>
      <aside class="main-sidebar">
        <section class="sidebar">
          <ul class="sidebar-menu" data-widget="tree">
            <li class="header">NAVIGATION</li>
            <li class="active treeview">
              <a href="#">
                <i class="fa fa-dashboard"></i> <span>Dashboard</span>
              </a>
            </li>
            <li >
              <a href="">
                <i class="fa-regular fa-calendar"></i> <span>Apply for Event</span>
              </a>
            </li>
            <li >
              <a href="">
                <i class="fa-solid fa-building-user"></i></i> <span>Apply for Workshop</span>
              </a>
            </li>
             <li>
              <a href="/comingsoon">
                <i class="fa fa-question"></i> <span>Why this theme</span>
              </a>
            </li>
             <li >
              <a href="https://2022.megalith.co.in/" target="_blank">
                <i class="fa fa-location-arrow"></i> <span>Visit 2022 website</span>
              </a>
            </li>
            <li >
                <a href="/">
                  <i class="fa fa-cogs"></i> <span>Log out</span>
                </a>
              </li>
            
          </ul>
        </section>
      </aside>
      <div class="content-wrapper">
        <section class="content ">
      <div class="box box-primary">
                <div class="box-body box-profile">
                  <img id="avatar" class="profile-user-img img-responsive img-circle" src="https://www.w3schools.com/w3css/img_avatar3.png" alt="User profile picture">
    
                  <h3 class="profile-username text-center"><%= data.name %></h3>
    
                  <p class="text-muted text-center"><span id="countries"></span>,<span id="states"></span>,<span id="cities"></span></p>
                  <p class="text-muted text-center"><%= data.mobileNumber %></p>
                  <p class="text-muted text-center"><%= data.email %></p>
                  <p class="text-muted text-center"><%= data.college %></p>
                  <p class="text-muted text-center"><%= data.username %></p>
                  <p class="text-muted text-center userinfo"> You have successfully logged in! <br> The team shall revert back to you very soon:). <br> Until than you can visit our last year website <a href="https://2022.megalith.co.in/" target="_blank">Megalith 2022</a></p>
                  
                  <script>
                    let countryname = '<%= data.country %>'
                    let statename = '<%= data.state %>'
                    let cityname = '<%= data.city %>'
                    const regionNames = new Intl.DisplayNames(
                    ['en'], {type: 'region'}
                    );
                    country=regionNames.of(countryname);
                    state = regionNames.of(statename);
                    document.getElementById("countries").innerHTML= country; 
                    document.getElementById("states").innerHTML= state; 
                    document.getElementById("cities").innerHTML= cityname; 
                    let gender = '<%= data.gender %>'
                    if (gender === 'male'){
                      document.getElementById("avatar").src = "https://www.w3schools.com/howto/img_avatar.png";
                    }
                    if (gender === 'female'){
                      document.getElementById("avatar").src = "https://www.w3schools.com/howto/img_avatar2.png";
                    }
                    let id = '<%= data.id %>'
                    function registerevent(){
                      fetch('/registerforevent', {
                      method: "POST",
                      body: JSON.stringify({
                      test:"123",
                      userid : id,
                      }),
                      headers : {
                      "Content-type" : "application/json"
                           }
                      });
                      alert("You has been registered succesfully");
                    }
                    function registerworkshop(){
                      fetch('/registerforworkshop', {
                      method: "POST",
                      body: JSON.stringify({
                      test:"123",
                      userid : id,
                      }),
                      headers : {
                      "Content-type" : "application/json"
                           }
                      });
                      alert("You has been registered succesfully");
                    }
                  </script>                 
                </div>
              </div>
              </section>
              <section class="registercontent">
                <section class="card" aria-label="card text">
                  <div style="background-image: url(gwaliorfort.jpg); background-size: cover;" class="card__front card__front1">
                    <header class="card__header">
                      <h1 class="card__title">Register for all Event</h1>
                    </header>
                    <div class="card__description">
                      <p>Make sure you register here, to join us on 3rd to 5th march, as we celebrate the Largest Civil Engineering Fest of the country.
                      Register here in one go for all the events.</p>
                    </div>
                  </div>
                  <button onclick="registerevent()" class="card__back">
                    <div class="btn">Register for all Event</div>
                  </button>
                </section>
                <section class="card" aria-label="card text">
                  <div style="background-image: url(golcondafort.jpg); background-size: cover;" class="card__front card__front2">
                    <header class="card__header">
                      <h1 class="card__title">Register for Workshop</h1>
                    </header>
                    <div class="card__description">
                      <p>Make sure you register here, to join us on 3th to 5th march, as we celebrate the Largest Civil Engineering Fest of the country.
                        Register here in one go for Workshop</p>
                    </div>
                  </div>
                  <button onclick="registerworkshop()" class="card__back">
                    <div class="btn">Register for Workshop</div>
                  </button>
                </section>
              </div>
      </div>
      <script src="https://kit.fontawesome.com/9b5d93182d.js" crossorigin="anonymous"></script>    
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <script src="dashboard.js"></script>
    </body>
    
</html>